<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>เกี่ยวกับเรา</title>
</head>
<body>
    <h1 style="color: blueviolet;">recorder-data</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolores placeat aut iure. Dignissimos porro neque consequuntur vitae ipsa autem et laborum explicabo? Aperiam, voluptatem. Debitis laborum accusamus nobis repellendus!</p>
</body>
</html>