<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>แบบฟอร์มบันทึกข้อมูล</title>
</head>
<body>
    <h1 style="color:blueviolet;">แบบฟอร์มบันทึกข้อมูล</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum corporis similique delectus, culpa officiis omnis, ad nesciunt aliquam, itaque commodi dolore dolores nisi exercitationem animi vel accusantium impedit id obcaecati.</p>
</body>
</html>